<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/bootstrap-theme.css"/>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script>
var module=angular.module('myApp',[])
module.controller('myController',['$scope',function($scope){
    $scope.stu;
    $scope.save=function(){
        alert($scope.stu);
    }
}])
</script>
<div ng-app='myApp' ng-controller='myController'>
    {{stu}}
    <input type="text" ng-model="stu"/>
    <button class="btn btn-success" ng-click="save()">点击</button>
</div>

</body>
</html>